$rose-color: #fdf5f2;
$coral-color: #eb6f5b;
$peach-color: #feceb4;
$blue-color: #1411ec;
$grey-color: #5e6c84;
$white-color: #fff;
$black-color: #000;
$red-color: red;
$font-stack: 'Rubik', sans-serif;
$border-radius: 4px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  height: 100vh;
}

.column {
  background-color: $rose-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  min-width: 260px;
  width: 280px;
  border: solid 2px $black-color;
  border-radius: $border-radius;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h4 {
  font-weight: 400;
}

.item {
  background-color: $white-color;
  padding: 1rem;
  margin-top: 1rem;
  letter-spacing: 0.4px;
  margin-bottom: 1rem;
  font-size: 18px;
  font-family: $font-stack;
  outline: 0;
  border: 2px solid $black-color;
  border-radius: $border-radius;
  letter-spacing: 0.4px;
}

.AddCardButton__btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  font-weight: bold;
  border-radius: $border-radius;
}

.task__title {
  font-size: 14px;
}

.column__title {
  font-size: 18px;
  font-weight: 400;
}

.column__body {
  width: 100%;
}

.AddCardButton__input {
  width: 100%;
  height: 100px;
  padding: 14px;
  letter-spacing: 0.4px;
  margin-bottom: 1rem;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  border: 2px solid $black-color;
  border-radius: $border-radius;
}

.edit-buttons.cancel {
  margin-left: 0.5rem;
}

.AddCardButton__input::placeholder {
  font-size: 12px;
  font-weight: 100;
}

.validation-msg {
  color: $red-color;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.AddCardButton__icon {
  width: 14px;
  display: block;
}

.AddCardButton__btn-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.AddCardButton__btn.add {
  background-color: $peach-color;
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.AddCardButton__btn.cancel {
  background-color: $rose-color;
  font-weight: bold;
  padding: 0.5rem 1.2rem;
  border: 2px solid $rose-color;
  transition: all 0.5s ease-out;
}

.AddCardButton__btn.save {
  background-color: $blue-color;
  color: $white-color;
  padding: 0.5rem 1.2rem;
  border-radius: $border-radius;
  color: $white-color;
  border: 2px solid $blue-color;
  transition: all 0.5s ease-out;
}

.next-icon,
.prev-icon {
  width: 1.2rem;
}

.next-icon {
  position: relative;
}

.move-btn {
  background-color: $white-color;
  outline: 0;
  border: 0;
  padding-right: auto;
  cursor: pointer;
}

.list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-title::placeholder {
  font-size: 12px;
  font-weight: 100;
}

.column-title {
  letter-spacing: 0.4px;
  margin-bottom: 1rem;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  border: 2px solid $black-color;
  border-radius: $border-radius;
}

.AddCardButton__btn.addColumn {
  width: 244px;
  background-color: $rose-color;
}

.inputColumn {
  max-width: 244px;
  height: 80px;
  font-size: 18px;
  font-weight: 400;
  align-self: flex-start;
}

.addBtnContainer {
  min-height: 137px;
}

.hidden {
  visibility: hidden;
}

.column-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.form {
  .edit-buttons {
    background-color: $rose-color;
  }
}

.column-container:hover .edit-buttons {
  visibility: visible;
}

.tasks-buttons-container {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.task-container:hover .edit-buttons.tasks {
  visibility: visible;
}

.column-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column-buttons-container {
  .edit-buttons {
    margin-left: 1rem;
    background-color: $rose-color;
  }
}

.title-container.input {
  background-color: $white-color;
  font-size: 18px;
  font-weight: 400;
}

.edit-buttons {
  border: 0;
  outline: 0;
  cursor: pointer;
  visibility: hidden;
  background-color: $white-color;
}

.edit-buttons {
  img {
    width: 0.8rem;
  }
}

.AddCardButton__btn.input {
  font-size: 18px;
  font-weight: 400;
  text-indent: 0.5rem;
  cursor: auto;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
