$rose-color: #fdf5f2;
$coral-color: #eb6f5b;
$peach-color: #feceb4;
$blue-color: #1411ec;
$grey-color: #5e6c84;
$white-color: #fff;
$black-color: #000;
$red-color: red;
$font-stack: 'Rubik', sans-serif;
$border-radius: 4px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  font-size: 14px;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

img {
  display: block;
  width: 1rem;
}

.hidden {
  visibility: hidden;
}

.container {
  align-items: flex-start;
  display: flex;
  // height: 100vh;
  gap: 1rem;
  padding: 1rem;
}

.column {
  align-items: center;
  background-color: $rose-color;
  border: solid 2px $black-color;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 260px;
  padding: 1rem;
  width: 280px;

  .body {
    min-width: 100%;
    // border: 2px solid red;
  }
}

.form {
  align-content: center;
  gap: 0.5rem;
  justify-content: space-between;
  max-width: 244px;

  .input {
    border: 2px solid $black-color;
    border-radius: $border-radius;
    font-size: 18px;
    height: 100px;
    letter-spacing: 0.4px;
    margin-bottom: 1rem;
    padding: 14px;
    outline: 0;
    width: 100%;
    max-width: 244px;
    height: 80px;
    font-size: 18px;
    font-weight: 400;
    align-self: flex-start;

    &.error {
      border: 2px solid $red-color;
    }
  }
}

.header {
  align-content: center;
  gap: 0.5rem;
  justify-content: space-between;
  width: 100%;
}

.item {
  border: 2px solid $black-color;
  border-radius: $border-radius;
  background-color: $white-color;
  font-size: 18px;
  font-family: $font-stack;
  letter-spacing: 0.4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  min-width: 100%;

  .content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    border: 2px solid red;
  }
}

.button-container {
  justify-content: flex-end;
}

.button {
  background-color: $rose-color;
  // border: 1px solid red;
  border: 0;
  border-radius: $border-radius;
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1.3rem;
  font-weight: bold;

  &.add {
    padding: 1rem;
    width: 244px;
    background-color: $peach-color;
  }

  &.save {
    background-color: $blue-color;
    color: $white-color;
  }
}

.input::placeholder {
  font-size: 12px;
  font-weight: 100;
}

.validation-msg {
  color: $red-color;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.icon {
  display: block;
  width: 14px;
}

.column-title::placeholder {
  font-size: 12px;
  font-weight: 100;
}

.column-title {
  border: 2px solid $black-color;
  border-radius: $border-radius;
  font-size: 18px;
  letter-spacing: 0.4px;
  margin-bottom: 1rem;
  outline: 0;
}

.header {
  .title {
    font-size: 18px;
    font-weight: 400;
  }
}

.column-container:hover .edit-button {
  visibility: visible;
}

.button-container {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.task-container:hover .edit-button.tasks {
  visibility: visible;
}

.title-container.input {
  background-color: $white-color;
  font-size: 18px;
  font-weight: 400;
}

.edit-button {
  background-color: $white-color;
  border: 0;
  outline: 0;
  visibility: hidden;

  &.accent {
    background-color: $rose-color;
    margin-left: 1rem;
  }

  &.save {
    margin-left: 0.5rem;
  }

  img {
    width: 0.8rem;
  }
}
