:root {
  --rose: #fdf5f2;
  --coral: #eb6f5b;
  --peach: #feceb4;
  --blue: #1411ec;
  --grey: #5e6c84;
  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  height: 100vh;
}

.column {
  background-color: var(--rose);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 280px;
  border: solid 2px var(--black);
  border-radius: 4px;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  /* min-width: 100%; */
  background-color: var(--white);
  padding: 1rem;
  margin-top: 1rem;
  /* width: 100%; */
  padding: 14px;
  font-weight: bold;
  letter-spacing: 0.4px;
  margin-bottom: 1rem;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  border: 2px solid var(--black);
  border-radius: 4px;
  height: 100px;
  letter-spacing: 0.4px;
}

.container.dark {
  background-color: #1d3557;
}

.container.light {
  background-color: var(--white);
}

.AddCardButton__container {
  min-width: 100%;
}

.AddCardButton__btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  font-weight: bold;
  outline: 0;
  border: 0;
  border-radius: 4px;
}

/* .AddCardButton__btn:focus,
.AddCardButton__btn:hover {
  background-color: rgba(94, 108, 132, 0.3);
} */

.task__title {
  font-size: 14px;
}

.column__title {
  font-size: 18px;
  font-weight: 400;
  align-self: flex-start;
}

.column__body {
  width: 100%;
}

.AddCardButton__input {
  width: 100%;
  height: 100px;
  padding: 14px;
  font-weight: bold;
  letter-spacing: 0.4px;
  margin-bottom: 1rem;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  border: 2px solid var(--black);
  border-radius: 4px;
}

.AddCardButton__input::placeholder {
  font-size: 12px;
  font-weight: 100;
}

.validation-msg {
  color: red;
}

.AddCardButton__icon {
  width: 14px;
  display: block;
}

.AddCardButton__text {
  font-weight: 600;
}

.line {
  display: block;
  margin-bottom: 0.7rem;
  width: 48px;
  height: 8px;
  border-radius: 1rem;
  background-color: var(--peach);
}

.AddCardButton__btn-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.AddCardButton__btn.add {
  background-color: var(--peach);
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.AddCardButton__btn.cancel {
  background-color: var(--rose);
  font-weight: bold;
}

.AddCardButton__btn.save {
  background-color: var(--blue);
  color: var(--white);

  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  color: var(--white);
}

/* .test {
  border: 1px solid red;
} */
