:root {
	--rose: #fef5f1;
	--coral: #eb6f5b;
	--peach: #feceb4;
	--blue: #1411ec;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: aqua;
}

.container {
	border: 1px solid black;
	display: flex;
	gap: 1rem;
	max-width: 1200px;
	padding: 4rem;
}

.card {
	background-color: #a8dadc;
	display: flex;
	flex-direction: column;
	flex-basis: 90%;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	width: 250px;
}

.card__body {
	flex-grow: 1;
}

.task {
	width: 100%;
	background-color: #f1faee;
	padding: 1rem;
}

.container.dark {
	background-color: #1d3557;
}

.container.light {
	background-color: #fff;
}
